body {
  font: 14px "Open Sans", sans-serif;
  background-color: lightgrey;
  margin: 0;
  color: white;
  box-sizing: border-box; }

header {
  width: 100%;
  height: 60px;
  display: inline-flex;
  justify-content: left;
  padding: 15px; }

.button {
  background-color: grey; }

.hamburger-button {
  width: auto;
  padding: 10px;
  color: white; }
  .hamburger-button img {
    transform: translateY(3px);
    margin-right: 10px; }
  .hamburger-button_slide {
    padding-left: 1.5rem; }
  .hamburger-button:hover {
    color: darkgrey; }
  .hamburger-button:active {
    color: mediumgrey; }
  .hamburger-button:disabled {
    color: lightgrey; }
  .hamburger-button_underlined {
    padding: 5px 10px;
    border-bottom: 3px solid transparent;
    margin-left: 1rem;
    max-width: 100%;
    color: white; }
    .hamburger-button_underlined:hover {
      border-color: white; }
    .hamburger-button_underlined:active {
      border-color: white; }
    .hamburger-button_underlined:disabled {
      border-color: transparent;
      color: lightgrey; }
    .hamburger-button_underlined img {
      transform: translateY(-40%);
      margin-right: 5px; }
  .hamburger-button .hamburger__actions {
    float: left;
    line-height: 30px; }
    .hamburger-button .hamburger__actions ul {
      list-style: none;
      margin: 0;
      padding-left: 3rem; }
  .hamburger-button .hamburger__icon {
    margin-left: auto;
    transform: translateY(-5px);
    font-size: 26px; }
    .hamburger-button .hamburger__icon:hover {
      color: mediumgrey;
      cursor: pointer; }
