body {
  font-family: "Open Sans", sans-serif;
  background-color: RGBA(90, 104, 114, 0.08); }

.page {
  width: 1200px;
  margin: 0 auto;
  margin-top: 18px; }

a {
  text-decoration: none; }

.button {
  border: 0;
  height: 40px; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.content {
  width: 890px;
  height: 2607px;
  margin: 22px 0px 0px 122px; }

.content_realty {
  height: 1163px; }

.realty_search {
  background-color: #FFFFFF;
  height: 295px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  z-index: 1; }
  .realty_search_content {
    height: 216px;
    width: 327px;
    margin-right: 10px;
    padding: 5px 0px 0px 2px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .realty_search_content_title {
      height: 60px;
      font-size: 24px;
      color: #152935;
      font-family: "Open Sans"; }
    .realty_search_content-top {
      height: 140px;
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    .realty_search_content-menu {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 30px;
      margin: -7px 0px 0px 6px; }

.underline-green:hover {
  border-bottom: 2px solid #30ae63; }

.nav_link-content {
  color: #152935;
  margin-right: 40px;
  font-family: "Open Sans";
  font-size: 14px; }

.realty_search_content_show:hover {
  width: 100%;
  background-color: #50DB88;
  color: #FFFFFF;
  border: 1px solid #DFE3E6; }

.realty_search_content_show {
  margin: 30px 0px 0px 5px;
  width: 95%;
  background-color: #30AE63;
  color: #FFFFFF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-border-radius: 1px;
          border-radius: 1px; }

.realty_search_content_select {
  width: 100%;
  margin-top: 13px;
  height: 20px;
  cursor: pointer; }

.selectVisible {
  width: 100%; }

.select {
  border: 2px solid #dfe3e6;
  width: 323px;
  height: 40px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }

.colorOfMetro {
  position: absolute;
  height: 8px;
  width: 8px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  left: 16px;
  top: 40%; }

.selectVisibleText {
  position: absolute;
  font-family: "Open Sans";
  font-size: 12px;
  left: 35px;
  top: 43%; }

.selectVisibleArrow {
  position: absolute;
  top: 48%;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  right: 15px; }

.realty_search_content_select-item {
  display: none;
  width: 100%;
  background-color: #FFFFFF;
  border: 0;
  z-index: 10;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.realty_search_content_select-item:hover {
  background-color: #30AE63;
  color: #FFFFFF; }

.selectItem {
  width: 323px;
  height: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }

.header {
  background: url(../../images/homepage-h.svg) no-repeat;
  height: 301px;
  width: 100%;
  color: #FFFFFF;
  font-size: 14px;
  font-family: "Open Sans"; }

.header__menu {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 22px 0px 0px 123px; }

.nav_link {
  color: #FFFFFF;
  margin-right: 44px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 25px; }

.left {
  width: 454px;
  padding: 7px 0px 0px 47px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.underline-white:hover {
  border-bottom: 2px solid #FFFFFF; }

.header_ovals {
  height: 20px;
  width: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 5px; }

.header_oval {
  width: 4px;
  height: 4px;
  background: #FFFFFF;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin: 5px 4px 0px 0px; }

.right {
  width: 320px;
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  margin: -3px 0px 0px 59px; }

.shareAds {
  width: 236px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1); }

.shareAds_img {
  height: 16px;
  margin: auto 14px; }

.shareAds_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.shareAds_text {
  margin: auto; }

.enter {
  padding: 12px 0px 0px 15px;
  width: 60px; }

.header_content {
  height: 280px;
  padding: 42px 0px 0px 122px; }

.content__title {
  font-size: 32px;
  letter-spacing: -1px; }

.content__search {
  margin-top: 46px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100px; }

.choose__city {
  width: 35%;
  height: 100px; }

.choose__rooms {
  height: 100px;
  padding-left: 6px; }

.choose__rooms_items {
  margin-top: 10px;
  width: 275px;
  height: 60%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.choose__rooms_item {
  height: 39px;
  width: 39px;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-right: 9px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.content__search_start {
  height: 28px;
  width: 170px;
  background-color: #FFFFFF;
  color: #30ae63;
  margin: 25px 0px 0px 30px;
  padding: 10px 0px 0px 26px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  border: 2px solid #30AE63; }

.content__search_start:hover {
  background-color: #30AE63;
  -webkit-border-radius: 0;
          border-radius: 0;
  color: #FFFFFF; }

/* 
 * Selecter v3.2.3 - 2014-10-24 
 * A jQuery plugin for replacing default select elements. Part of the Formstone Library. 
 * http://formstone.it/selecter/ 
 * 
 * Copyright 2014 Ben Plum; MIT Licensed 
 */
.selecter {
  position: relative;
  display: block;
  margin: 10px 0;
  z-index: 1;
  max-width: 91%; }

.selecter:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none; }

.selecter,
.selecter * {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important; }

.selecter,
.selecter *,
.selecter *:before,
.selecter *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.selecter-element {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  z-index: -1; }

.selecter-element,
.selecter-element:focus {
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent; }

.no-opacity .selecter-element {
  left: -999999px; }

.selecter-selected {
  position: relative;
  background: #ffffff;
  border: 2px solid #dfe3e6;
  color: #152935;
  cursor: pointer;
  display: block;
  font-size: 13px;
  margin: 0;
  overflow: hidden;
  padding: 10px 15px;
  text-overflow: clip;
  z-index: 2;
  height: 40px;
  /*border-radius: 3px;*/ }

.selecter-selected:after {
  height: 5px;
  width: 10px;
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  background: url(../images/selectArrow.png);
  content: '';
  display: block;
  margin: auto 0; }

/*.selecter-selected:before{*/
/*background: url(../images/selectArrow.png);*/
/*-webkit-transform: rotate(180deg);*/
/*-moz-transform: rotate(180deg);*/
/*-ms-transform: rotate(180deg);*/
/*-o-transform: rotate(180deg);*/
/*transform: rotate(180deg);*/
/*}*/
/*.no-touch .selecter-selected:hover {*/
/*color: #333333;*/
/*}*/
.no-touch .selecter.disabled .selecter-selected:hover {
  color: #cccccc; }

.selecter-options {
  width: 100%;
  max-height: 260px;
  position: absolute;
  top: 100%;
  left: 0;
  /*border: 2px solid #cccccc;*/
  border-width: 0 1px 1px;
  background-color: #ffffff;
  display: none;
  margin: 0;
  overflow: auto;
  overflow-x: hidden;
  padding: 0;
  z-index: 50;
  /*border-radius: 0 0 3px 3px;*/
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  /*border: 2px solid red;*/ }

.selecter-options.scroller {
  position: absolute; }

.no-opacity .selecter-options {
  width: auto; }

.selecter-group {
  border-bottom: 1px solid #cccccc;
  color: #999999;
  display: block;
  font-size: 11px;
  padding: 10px 15px;
  text-transform: uppercase; }

.selecter-item {
  width: 100%;
  background: #ffffff;
  /*border-bottom: 1px solid #cccccc;*/
  color: #222222;
  cursor: pointer;
  display: block;
  font-size: 13px;
  margin: 0;
  overflow: hidden;
  padding: 10px 15px;
  text-decoration: none;
  text-overflow: ellipsis; }

.selecter-item.placeholder {
  display: none; }

.selecter-item.disabled {
  color: #999999;
  cursor: default; }

.selecter-item:first-child {
  -webkit-border-radius: 0;
          border-radius: 0; }

.selecter-item:last-child {
  border-bottom: 0;
  /*border-radius: 0 0 2px 2px;*/ }

.no-touch .selecter-item:hover,
.no-touch .selecter-item.selected:hover {
  color: #FFFFFF;
  background-color: #30ae63; }

.selecter-item.disabled,
.no-touch .selecter-item.disabled:hover {
  color: #cccccc;
  background-color: #ffffff; }

.selecter.open {
  z-index: 3; }

.selecter.open .selecter-selected {
  z-index: 51;
  /*border-radius: 3px 3px 0 0;*/ }

.selecter.open .selecter-selected,
.selecter.focus .selecter-selected:focus {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-top: 2px solid #30ae63;
  border-left: 2px solid #30ae63;
  border-right: 2px solid #30ae63; }

.selecter.cover .selecter-options {
  border-width: 1px;
  top: 0;
  /*border-radius: 3px;*/ }

.selecter.cover .selecter-options .selecter-item.first {
  -webkit-border-radius: 3px 3px 0 0;
          border-radius: 3px 3px 0 0; }

.selecter.cover.open .selecter-selected {
  z-index: 49;
  /*border-radius: 3px 3px 0 0;*/ }

.selecter.bottom .selecter-options {
  top: auto;
  /*bottom: 100%;*/
  border-width: 1px 1px 0;
  /*border: 2px solid red;*/ }

.selecter.bottom .selecter-item:last-child {
  border: none; }

.selecter.bottom.open .selecter-selected {
  /*border-radius: 0 0 3px 3px;*/ }

.selecter.bottom.open .selecter-options {
  /*border-radius: 3px 3px 0 0;*/
  border-bottom: 2px solid #30ae63;
  border-right: 2px solid #30ae63;
  border-left: 2px solid #30ae63; }

.selecter.bottom .cover .selecter-options {
  top: auto;
  bottom: 0; }

.selecter.bottom .cover.open .selecter-selected {
  /*border-radius: 3px;*/ }

.selecter.bottom .cover.open .selecter-options {
  /*border-radius: 3px;*/ }

.selecter.multiple .selecter-options {
  width: 100%;
  position: static;
  border-width: 1px;
  display: block;
  /*border-radius: 3px;*/
  -webkit-box-shadow: none;
          box-shadow: none; }

.selecter.disabled .selecter-selected {
  background: #ffffff;
  border-color: #cccccc;
  color: #cccccc;
  cursor: default; }

.selecter.disabled .selecter-options {
  background: #ffffff;
  border-color: #cccccc; }

.selecter.disabled .selecter-group,
.selecter.disabled .selecter-item {
  border-color: #cccccc;
  color: #cccccc;
  cursor: default; }

.selecter.disabled .selecter-item.selected,
.no-touch .selecter.disabled .selecter-item.selected:hover {
  background: #fafafa; }

.selecter.disabled .selecter-item,
.no-touch .selecter.disabled .selecter-item:hover {
  color: #cccccc;
  background-color: #ffffff; }

.selecter-options.scroller {
  overflow: hidden; }

.selecter-options.scroller .scroller-content {
  max-height: 260px;
  padding: 0; }

@media screen and (max-width: 740px) {
  .selecter {
    max-width: 40%; } }

@media screen and (max-width: 500px) {
  .selecter {
    max-width: 100%; } }

.red {
  background-color: #E71D32; }

.blue {
  background-color: blue; }

.green {
  background-color: green; }

.unvisible {
  display: none; }

.visible {
  display: block;
  z-index: 2; }
