@import "../utilities/_index";

.content{
  width:890px;
  height:2607px;
  margin: 22px 0px 0px 122px;
}
.content_realty{
  height:1163px;
}
.realty_search{
  background-color: #FFFFFF;
  height:295px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
  &_content{
    height: 216px;
    width:327px;
    margin-right: 10px;
    padding:5px 0px 0px 2px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    &_title{
      height: 60px;
      font-size:24px;
      color: #152935;
      font-family: $font;
    }
    &-top{
      height:140px;
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    &-menu{
      width: 100%;
      display: flex;
      height:30px;
      margin: -7px 0px 0px 6px;
    }
  }
}
.underline-green:hover{
  border-bottom:2px solid #30ae63;
}
.nav_link-content{
  color:#152935;
  margin-right: 40px;
  font-family: $font;
  font-size: 14px;
}
.realty_search_content_show:hover{
  width:100%;
  background-color: #50DB88;
  color: #FFFFFF;
  border: 1px solid #DFE3E6;
}
.realty_search_content_show{
  margin: 30px 0px 0px 5px;
  width:95%;
  background-color: #30AE63;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1px;
  //display: none;
}

.realty_search_content_select{
  width:100%;
  margin-top: 13px;
  height: 20px;
  cursor: pointer;
}

.selectVisible{
  width:100%;
}
.select{
  border:2px solid #dfe3e6;
  width: 323px;
  height: 40px;
  border-radius: 3px;
  align-items: center;
  position: relative;
}
.colorOfMetro{
  position: absolute;
  height:8px;
  width:8px;
  border-radius: 50%;
  left:16px;
  top:40%;
}
.selectVisibleText{
  position: absolute;
  font-family: $font;
  font-size: 12px;
  left:35px;
  top:43%;
}
.selectVisibleArrow{
  position: absolute;
  top:48%;
  align-self: flex-end;
  right:15px;
}
.realty_search_content_select-item{
  display: none;
  width: 100%;
  background-color: #FFFFFF;
  border: 0;
  z-index: 10;
  position: relative;
}
.realty_search_content_select-item:hover{
  background-color: #30AE63;
  color: #FFFFFF;
}
.selectItem{
    width: 323px;
    height: 40px;
    align-items: center;
    position: relative;
}