.footer{
  height:335px;
  width: 74.765%;
  padding-top: 44px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__content{
    width: 100%;
    height:228px;
    display: flex;
    justify-content: space-between;

    &__item{
      width:23.933%;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;

      &_title{
        height:32px;
        width: 100%;
        overflow: hidden;
        p{
          color: #152935;
          font-family: $font;
          font-size: 16px;
        }
      }
      &_networks{
        width:43.564%;
        height: 18px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &__info{
        width:80.198%;
        height: 136px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &_address{
          display: flex;
          justify-content: space-between;
          flex-direction: column;
        }
      }
      &_navigation{
        width:80.198%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &_item{
          font-size: 13px;
          line-height: 20px;
          font-family: $font;
          color: #152935;
        }
      }
    }

    &__item:last-child{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}