@import "../utilities/_index";
.header{
  background-color: #30AE63;
  width: 890px;
  //background:url(../../images/homepage-h.svg) no-repeat;
  height: 301px;
  color: $header_color;
  font-size: 14px;
  font-family: $font;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__menu{
    height:40px;
    display: flex;
    justify-content: space-between;
}
.nav_link{
  color: $header_color;
  display: flex;
  height: 25px;
  font-family: $font;
  font-size: 14px;
  box-sizing: border-box;
  }
.header__navigation{
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header_ovals{
  height: 20px;
  width:25px;
  display: flex;
  margin-right: 5px;
}
.header_oval{
  width: 4px;
  height: 4px;
  background: $header_color;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin: 5px 4px 0px 0px;
}

.nav_register{
  height:40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.shareAds{
  width:236px;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(255,255,255,0.1);
  &_img{
    margin: 0px 13px 0px 15px;
  }
}

.enter{
  height:17.09px;
  width:46px;
}
.header_content{
  height:145px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content__title{
  font-size:32px;
  letter-spacing: -1px;
  line-height: 38.92px;
}
.content__search{
  //margin-top: 46px;
  display: flex;
  height:66px;
  justify-content: space-between;
  align-items: flex-end;
}
.choose__city {
  height: 66px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.choose__rooms{
  height:66px;
  width: 29.775%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.choose__rooms_items{
  height: 40px;
  display: flex;
  justify-content:space-between;
  align-items: flex-end;
}
.choose__rooms_item{
  height:40px;
  width:40px;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content__search_start{
  background-color: #FFFFFF;
  color:#30ae63;
  display: flex;
  justify-content: center;
  align-items: center;
  //margin:25px 0px 0px 30px;
  //padding: 10px 0px 0px 26px;
  border-radius: 2px;
  border: 2px solid #30AE63;
}
.content__search_start:hover{
  background-color: #30AE63;
  border-radius: 0;
  color:#FFFFFF;
}

.select__header{
  border:2px solid #dfe3e6;
  height: 40px;
  border-radius: 3px;
  align-items: center;
  position: relative;
  background-color: #FFFFFF;
  box-sizing: border-box;
}

.header_wrapper{
  height: 245px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav_wrapper{
  height: 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
}
.selectVisibleText_header{
  position: absolute;
  font-family: $font;
  font-size: 14px;
  left:15px;
  top:12px;
  line-height: 18px;
  color: #152935;
}
.choose__city__content_select-item
{
  display: none;
  background-color: #FFFFFF;
  border: 0;
  z-index: 10;
  position: relative;
  box-sizing: border-box;
}
.choose__city__content_select-item:hover{
  background-color: #30AE63;
  .selectVisibleText_header {
    color: #FFFFFF;
  }
}
.selectItem_header{
  height: 40px;
  align-items: center;
  position: relative;
}
.selectVisibleArrow_header{
  position: absolute;
  top:48%;
  align-self: flex-end;
  right:15px;
}
.choose__city__content_select{
  height: 40px;
  cursor: pointer;
  box-sizing: border-box;
}

@media(min-width: 360px) and (max-width: 890px){
  .header,.header__menu,.header_content,
  .content__search,.select__header,
  .choose__city__content_select-item,
  .selectItem_header,.choose__city__content_select{
    width: 100%;
  }
}
@media(min-width: 360px){
  .header__navigation{
    width: 83.259%;
  }
  .nav_register{
    width:33.482%;
  }
  .choose__city {
    width: 38.651%;
  }
  .choose__rooms{
    width: 29.775%;
  }
  .content__search_start{
   width:22.584%;
  }
  .header_wrapper{
    width:78.830%;
  }
  .nav_wrapper{
    width: 51.011%;
  }
}








