@import "../utilities/_index";
.header{
  background:url(../../images/homepage-h.svg) no-repeat;
  height: 301px;
  width: 100%;
  color: $header_color;
  font-size: 14px;
  font-family: $font;
}
.header__menu{
    width: 100%;
    display: flex;
    padding: 22px 0px 0px 123px;
}
.nav_link{
  color: $header_color;
  margin-right: 44px;
  display: flex;
  height: 25px;
  }
.left{
  width: 454px;
  padding: 7px 0px 0px 47px;
  display: flex;
}
.header_ovals{
  height: 20px;
  width:25px;
  display: flex;
  margin-right: 5px;
}
.header_oval{
  width: 4px;
  height: 4px;
  background: $header_color;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin: 5px 4px 0px 0px;
}

.right{
  width:320px;
  height:60px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: -3px 0px 0px 59px;
}

.shareAds{
  width:236px;
  display: flex;
  background-color: rgba(255,255,255,0.1);

}
.shareAds_img{
  height: 16px;
  margin: auto 14px;
}
.shareAds_item{
  display: flex;
}
.shareAds_text{
  margin: auto;
}
.enter{
  padding:12px 0px 0px 15px;
  width:60px;
}
.content{
  height:280px;
  padding: 42px 0px 0px 122px;
}

.content__title{
  font-size:32px;
  letter-spacing: -1px;
}
.content__search{
  margin-top: 46px;
  display: flex;
  width: 100%;
  height:100px;
}
.choose__city {
  width: 35%;
  height: 100px;

  //&_select:hover {
  //  cursor: pointer;
  //}
  //&_select_wrapper{
  //  width:346px;
  //  height:42px;
  //  margin-top: 11px;
  //  position: relative;
  //}
  //&_select_wrapper:after{
  //  content: url("../../images/selectArrow.png");
  //  //-webkit-transform: rotate(90deg);
  //  //-moz-transform: rotate(90deg);
  //  //-ms-transform: rotate(90deg);
  //  //transform: rotate(90deg);
  //  right: 17px;
  //  top: 11px;
  //  position: absolute;
  //  pointer-events: none;
  //}
  //&_select_wrapper:focus{
  //  content: url("../../images/selectArrow.png");
  //  -webkit-transform: rotate(90deg);
  //  -moz-transform: rotate(90deg);
  //  -ms-transform: rotate(90deg);
  //  transform: rotate(90deg);
  //  right: 17px;
  //  top: 11px;
  //  position: absolute;
  //  pointer-events: none;
  //}
  //&_select{
  //  width:346px;
  //  height:$heightOfSelect;
  //  border-radius: 4px;
  //  -webkit-appearance: none;
  //  -moz-appearance: none;
  //  border: 2px solid #dfe3e6;
  //  padding-left: 17px;
  //  font: $font;
  //  font-size: 14px;
  //}
}
//.choose__city_selector{
//  height: 300px;
//}





.choose__rooms{
  height:100px;
  padding-left: 6px;
}
.choose__rooms_items{
  margin-top: 10px;
  width:275px;
  height: 60%;
  display: flex;
}
.choose__rooms_item{
  height:39px;
  width:39px;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  margin-right: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content__search_start{
  height: 28px;
  width:170px;
  background-color: #FFFFFF;
  color:#30ae63;
  margin:25px 0px 0px 30px;
  padding: 10px 0px 0px 26px;
  border-radius: 2px;
  border: 2px solid #30AE63;
}
.content__search_start:hover{
  background-color: #30AE63;
  border-radius: 0;
  color:#FFFFFF;
}















