.modal {
  width: 800px;
  height: 484px;
  background: #FFFFFF url("../../images/leftBackground.svg") repeat-y left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .modal__wrapper {
    width: 90%;
    height: 79.381%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }

.leave__application {
  width: 44.444%;
  height: 38.441%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .leave__application_title, .leave__application_text {
    overflow: hidden;
    font-family: "Open Sans";
    color: #152935; }
  .leave__application_title {
    font-size: 24px;
    line-height: 32px; }
  .leave__application_text {
    font-size: 14px;
    line-height: 20px; }

.modal__searching {
  height: 100%;
  width: 44.444%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .modal__searching__header, .modal__searching__info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%; }
  .modal__searching__header {
    height: 42.857%; }
    .modal__searching__header__region, .modal__searching__header__apartments {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start; }
    .modal__searching__header__apartments {
      width: 93.75%;
      height: 40%; }
    .modal__searching__header__region {
      height: 47.878%;
      width: inherit; }
  .modal__searching__info {
    height: 25.974%; }

.select__modal {
  border: 2px solid #dfe3e6;
  width: 100%;
  height: 40px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.selectVisibleArrow_modal {
  position: absolute;
  top: 48%;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  right: 15px; }

.modal__content_select-item {
  display: none;
  width: 100%;
  background-color: #FFFFFF;
  border: 0;
  z-index: 10;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.modal__content_select-item:hover {
  background-color: #30AE63; }
  .modal__content_select-item:hover .selectVisibleText_modal {
    color: #FFFFFF; }

.selectItem_modal {
  width: 100%;
  height: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }

.selectVisibleText_modal {
  position: absolute;
  font-family: "Open Sans";
  font-size: 14px;
  left: 15px;
  top: 12px;
  line-height: 18px;
  color: #152935; }
