@import "../utilities/_index";
body{
  font-family: "Open Sans", sans-serif;
  background-color: RGBA(90, 104, 114, .08);
}
.page{
  width:1200px;
  margin:0 auto;
  margin-top: 18px;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
.button{
  border:0;
  height: 40px;
}
