.red{
  background-color: #E71D32;
}
.blue{
  background-color: blue;
}
.blueLight{
  background-color: #2573D8;
}
.green{
  background-color: green;
}
.unvisible{
  display: none;
}
.visible{
  display: block;
  z-index: 2;
}
.underline-white:hover{
  border-bottom:2px solid #FFFFFF;
}
.underline-green:hover{
  border-bottom:2px solid #30AE63;
}
.black{
  color: #152935;
}
.twoCheckMarks{
  width:138px;
}
.smaller{
  width: 101px;
}
.largePicture{
  width:100%;
  height: 182px;
}
.largeCircle{
  width: 8px;
  height: 8px;
}
.metrovka{
  &_green{
    color: #30AE63;
  }
  &_violet{
    color: #BA8FF7;
  }
  &_blue{
    color: #2573D8;
  }
}
.footer{
  &_metrovka{
    height:184px;
  }
  &_contacts{
    height:210px;
  }
  &_partnership{
    height:152px;
  }
  &_getMore{
    height: 168px;
  }
  &_button{
    border:0;
    height: 40px;
    width:100%;
  }
}
.street, .city{
  line-height: 20px;
  font-family: $font;
  color: #152935;
}
.city{
  font-size: 11px;
}
.street{
  font-size: 13px;
}