.red{
  background-color: #E71D32;
}
.blue{
  background-color: blue;
}
.blueLight{
  background-color: #2573D8;
}
.green{
  background-color: green;
}
.unvisible{
  display: none;
}
.visible{
  display: block;
  z-index: 2;
}
.underline-white:hover{
  border-bottom:2px solid #FFFFFF;
}
.underline-green:hover{
  border-bottom:2px solid #30AE63;
}
.black{
  color: #152935;
}
.twoCheckMarks{
  width:138px;
}
.smaller{
  width: 101px;
}
